img
{
width: 45%;
margin-top: -19%;
float:left; 
	
}

h1{
	text-align: right;
}
#form{
	padding-left: 40%; 
}

body {
  background: #356aa0 url(http://wallpapercave.com/wp/8oOtk3p.jpg) 
  repeat-x;

}

#tittle{
	margin-right: 12%;
}

h2{
	text-align: center;
}

